<h1>{{'MyTicketsView.h1' | translate}}</h1>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item active"><a class="nav-link" ui-sref="MyTickets.Selling">
            {{'MyTicketsView.Tabs.Selling' | translate}}</a>
        <li>
        <li class="nav-item"><a class="nav-link" ui-sref="MyTickets.Waiting">
            {{'MyTicketsView.Tabs.WaitingConfirmation' | translate}}</a>
        </li>
        <li class="nav-item"><a class="nav-link" ui-sref="MyTickets.Sold">
            {{'MyTicketsView.Tabs.Sold' | translate}}</a>
        </li>
    </ul>
    <div class="container" ui-view></div>
</div>